
@{
    ViewBag.Title = "VolunteerMenu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Volunteer Menu</h2>
<ul class="table">

    <li class="h2">
        @Html.ActionLink("Programmes", "Index", "Programmes")
    </li>
  
  

</ul>

